.ed_resourcemanager_filter_box_title
{
	font-size:14px;
	font-weight:bold;
}

.ep_tab_panel
{
	height: auto;
}

/*.ed_resourcemanager_content*/
.ep_bulkaction_form
{
	display: inline;
}

.ed_resourcemanager_filter_box, .ed_resourcemanager_filter_box_content
{
	width: 200px;
	display: inline;
}

.ep_manageable_action_button
{
}

.ep_manageable_action_icon
{
	vertical-align: middle;
	padding: 0 5px;
}

.ep_resource_manager_filter {
	background-color: #ececec;
	border-color: #c4caf2;
	border-style: solid;
	border-width: 2px;
	margin: 10px;
	padding: 5px;
	width: 270px;
}

.ep_resourcemanager_tag {
	padding: 2px;
}

.ep_manageable_data
{
	vertical-align:center;
	margin: 2px;
}

.ep_manageable, .ep_resourcemanager_block {
	background-color: #ececec;
	border-style: solid;
	border-width: 1px;
	margin: 1px 1%;
	padding: 1px 1%;
	text-align: left;
}

.ep_resourcemanager_block {
	text-align: center;
}

.ep_manageable:hover {
	cursor: pointer;
}

.ep_manageable {
	border-color: #c4caf2;
	float: left;
	width: 96%;
}

.ep_manageable.ep_manageable_selected {
	border-color: #007d92;
}

.ep_bulkaction_summary_list {
	height: 300px;
	overflow: auto;
}
.ep_manageable_data_wrapper {
	float: left;
	width: 100%;
	margin-right: -120px;
}

.ep_manageable_data {
	margin: 0;
	padding: 0;
	margin-right: 120px;
	vertical-align: middle;
}

.ep_manageable_data .ep_manageable_data_title {
	font-size: 14px;
}

.ep_manageable_metadata {
	list-style: none;
}

div.ep_manageable_controls {
	display: block;
	float: right;
	width: 120px;
	padding: 0px;
	margin: 0px;
}

.ep_manageable_controls ul {
	padding: 0px;
	margin: 0px;
}

div.ep_manageable_controls li {
	list-style: none;
	display: inline;
}

.ep_manageable_controls a {
	text-decoration: none;
}

.ep_resourcemanager_filter {
	text-align: center;
}

.ep_resourcemanager_filter_text {
	font-size: 1.6em;
}

div.ep_manageable_controls > ul > li.ep_manageable_less_arrow { display:none;}
.ep_manageable_more { display:none;}

div.ep_manageable_showing_more > div.ep_manageable_controls > ul >li.ep_manageable_more_arrow { display:none; }
div.ep_manageable_showing_more > div.ep_manageable_more { display:inline; }
div.ep_manageable_showing_more > div.ep_manageable_controls > ul > li.ep_manageable_less_arrow { display:inline; }
